 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Math</h2>
      <p>Calculus, Probability and Statistics, Topology, Functional Analysis, Differential Equations, Algebra.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <p>Python for Data Science: ScikitLearn, Numpy, TensorFlow, MatplotLib, Bokeh. R : Tidyverse, Plotly, ggplot2, Shiny, RMarkdown, e1071, C5.0.</p>
    </div>
    <div class="tech">
      <h2>Machine Learning</h2>
      <p>Supervised Learning: Classification, Regression. Unsupervised Learning: Clustering, Association Rules, PCA. Deep Learning : Feed Forward Networks. </p>
    </div>
</div>
