<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/iris.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Iris Species Web App </h3>
    <ul>
      <li> Classification</li>
      <li> Visualization </li>
      <li> K-nearest neighbours</li>
    </ul>
    <p>Shiny is an R package that makes it easy to build interactive web apps straight from R, this time I'm using it to develop an application that classifies a set of plants by Species : Setosa, Virginica, Versicolor. This is a simple project that ilustrates what we can do with the Rstudio tools.</p>
    <a class="project-link" href="https://quintana.shinyapps.io/testing_classification_algorithms/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/survey.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The State of Data Science </h3>
    <ul>
      <li> Data Exploration and Visualization</li>
    </ul>
    <p>This project is a Kaggle Kernel about the state of data science in 2017 according to a industry-wide survey Kaggle conducted this year, the survey received over 16000 responses from people around the world. I want to show through a couple of visualizations things like where data scientists come from or what tools they are using, also I want to describe the profile of who is working with data. </p>
    <a class="project-link" href="https://www.kaggle.com/qalfredo/the-state-of-data-science-2017">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/sentiment.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Analysis Shiny App</h3>
    <ul>
      <li> Text Mining</li>
      <li> Social Media Analysis</li>
    </ul>
    <p>This is a basic shiny app that analyzes the sentiment of twitter data. The app was built using the tm library for text mining in R, twitteR library that allows R connect to the twitter API to get the tweets. </p>
    <a class="project-link" href="https://quintana.shinyapps.io/Sentiment-analysis/">Check it out</a>
  </div>
</div>
